/* settings */
:root {
    --secondary : #2B9DF4;
    --acc: #fff;
    --black: #000000;
}
p , ul , li , span {
    font-family: 'Jura', sans-serif;
}
h1 , h2 , h3 , h4 , h5 , h6 {
    font-family: 'Orbitron', sans-serif;
   
}
.txt-acc {
    color: var(--acc);
}
.txt-secondary {
    color: var(--secondary);
}
.bg-black {
    background-color: var(--black);
}
.fs-48 {
    font-size: 3.5rem;
}
.fs-16 {
    font-size: 1rem;
}
/* fine settings */
.navMenu {
    list-style-type: none;
}

.borderNav {
    border-bottom: 1px solid var(--acc);
}

.navGap {
    gap:2rem;
}
.bg-header {
    background: url(./media/moon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.bg-header::after {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.8) 100%);
}
.headings {
    z-index: 1;
}

.chevron-down {
    color: var(--secondary);
    font-size: 2rem;
}

.borderSection {
    border-bottom: solid 1px var(--secondary);
}
.bg-section {
    background-image: url(./media/moon2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
 /* bottoni */
.cusButton {
    position: relative;
    width: 80px;
    height: 40px;
    margin: 10px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--secondary);
    padding: 0;
    box-sizing: content-box;
    border: 2px solid transparent;
}

button::before, button::after, span::before, span::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
}

button::before {
    top: -2px;
    left: -2px;
    border-top: 2px solid var(--secondary);
    border-left: 2px solid var(--secondary);
    transition: 0.5s all;
}
button::after {
    top: -2px;
    right: -2px;
    border-top: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    transition: 0.5s all;
}
span::before {
    bottom: -2px;
    left: -2px;
    border-bottom: 2px solid var(--secondary);
    border-left: 2px solid var(--secondary);
    transition: 0.5s all;
}
span::after {
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid var(--secondary);
    border-right: 2px solid var(--secondary);
    transition: 0.5s all;
}

button:hover::before, button:hover::after {
    width: 50px;
    height: 50px;
}

button:hover span::before, button:hover span::after {
    width: 50px;
    height: 50px;
}




.sectionCol {
    height: 800px;
}

.backGround {
    background-color: var(--black);
}

.bgImgFooter {
    height: 800px;
    background-color: #2B9DF4;
    background-image: url(./media/sunrise-1765027_1920.jpg);
    background-size: contain;
    background-position: center bottom;
}